repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.6
    hooks:
      - id: ruff
        args: ["--config", "pyproject.toml", "--select", "E9,F63,F7,F82"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: ^tests/.
      - id: end-of-file-fixer
        exclude: ^tests/.*/fixtures/.*
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: trailing-whitespace
        exclude: ^tests/.*/fixtures/.*
  - repo: https://github.com/python-poetry/poetry
    rev: "1.8.0"
    hooks:
      - id: poetry-lock
      - id: poetry-check
      - id: poetry-export
        args:
          ["-f", "requirements.txt", "-o", "requirements.txt", "--only", "main"]
