# {{ project_name }}

{{ project_description }}

## Installation

```bash
pip install {{ project_name }}
```

## License

[{{ license }}](https://github.com/{{ organization }}/{{ project_name }}/blob/master/LICENSE)


# Development

## Keep project up-to-date

To keept this project up-to-date with the template simply run:

```bash
copier update --trust
```

