name: Typo fixes

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  fix-spelling:
    runs-on: ubuntu-latest

    steps:
      #---------------------------------------------
      # Check out repository
      #----------------------------------------------
      - name: Checkout repository
        uses: actions/checkout@v6

      #---------------------------------------------
      # Fix misspellings
      #----------------------------------------------
      - name: Fix misspelling
        uses: sobolevn/misspell-fixer-action@0.1.0
      #---------------------------------------------
      # Create pul request
      #----------------------------------------------
      - name: Create pull request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Fixes by misspell-fixer"
          title: "Typos fix by misspell-fixer"
